/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display:inline-block
}

h1{
  padding-top: 30px;
  padding-left: 30px;
  display:block;
}

p{
  padding-left:70px;
  display:block;
}

.flash{
  margin-top: 30px;
  margin-left: 70px;
  color: green;
}

.title-box{
  display: flex;
  margin-top:30px;
  margin-left: 70px;
}

.show-title{
  display: block;
  text-align: left;
}

.show-title-name{
  display: block;
  text-align: left;
  padding-left: 5px;
}

.body-box{
  margin-left: 70px;
  margin-top: 30px;
  display: flex;
}

.show-body{
  display: block;
  text-align: left;
}

.show-body-text{
   display: block;
  text-align: left;
  padding-left: 5px;
}

.botan{
  display: flex;
  margin-top:30px;
}

.to-edit{
  margin-left: 30px;
  text-align: left;
}

.to-index{
  mragin-left:5px;
  text-align: left;
}

.edit-box{
  display: block;
  margin-top: 20px;
  margin-left: 30px;
}

.edit-body{
  margin-top: 10px;
}

.update{
  margin-top: 10px;
}

.to-show{
  margin-left: 30px;
  text-align: left;
}

.back{
  mragin-left:5px;
  text-align: left;
}

.new-title{
  margin-left: 30px;
}

.new-title-name{
  margin-left: 30px;
}

.new-body{
  margin-top: 10px;
  margin-left: 30px;
}

.new-body-text{
  margin-left: 30px;
}

.submit-botun{
  margin-left: 30px;
}

table{
  margin-left: 30px;
}

thead{
  display:flex;
}

table,tr,td{
  width: auto !important;
}

ul{
  display: flex;
  list-style: none;
}

li{
  margin-right: 10px;
}

.error-box{
  margin-left: 30px;
}

.error{
  display: inline;
}

.error-messages{
  list-style: disc;
  margin-left:50px;
}